.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.btn {
  margin-top: 3.2rem;
  text-align: center;
  font-weight: 600;

  box-sizing: border-box;
  padding: 1rem 2rem;
  
  color: #2c59bb;
}

.btn:hover {
  color: #1e469c;
  box-sizing: border-box;
}