.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.btn {
  margin-top: 3.2rem;
  text-align: center;
  font-weight: 600;

  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid #fb1;
  
  background-color: #fb1;
  color: #764701;
}

.btn:hover {
  border: 2px solid #764701;
  box-sizing: border-box;
}