.nav {
  display: flex;
  gap: 0.8rem;
  justify-content: end;
}

.nav :where(a, button) {
  text-align: center;
  font-weight: 600;

  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid #fb1;
  
  background-color: #fb1;
  color: #764701;
}

.nav :where(a:hover, button:hover) {
  border: 2px solid #764701;
  box-sizing: border-box;
}

.mobileButton {
  position: relative;
  background-color: #eee;
  border: 2px solid #eee;
  border-radius: 5px;
  cursor: pointer;
  width: 4.8rem;
  height: 4.4rem;
  color: #333;
}

.mobileButton::after {
  content: '';
  display: block;
  position: absolute;
  width: 2.4rem;
  height: 0.3rem;
  left: 1rem;
  top: 1.9rem;
  border-radius: 5px;
  background-color: currentColor;
  box-shadow: 0 0.8rem currentColor, 0 -0.8rem currentColor;
  transition: all 0.2s ease;
}

.mobileButton:hover,
.mobileButton:focus,
.mobileButtonActive {
  background-color: #fb1;
  border: 2px solid #764701;
  color: #764701;
}

.mobileButtonActive::after {
  display: block;
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  left: 2rem;
  border-radius: 50%;
  transform: rotate(90deg);
  box-shadow: 0 1rem currentColor, 0 -1rem currentColor;
}