.wrapper {
  display: grid;
  grid-template-columns: 65rem 30rem;
  grid-template-rows: auto 1fr auto;
  background-color: #fff;
  margin: auto;
}

.img {
  grid-row: 1/4;
}

.wrapper :where(.details, form) {
  padding-inline: 2rem;
}

.details {
  margin-bottom: 3.2rem;
}

.details h1 {
  line-height: 3rem;
  margin-top: 6.4rem;
  margin-bottom: 3.2rem;
}

.details span {
  font-weight: 600;
  line-height: 1.6rem;
  margin-right: 1.2rem;
}

@media (max-width: 40rem) {
  .wrapper {
    grid-template-columns: 1fr;
    padding-inline: 2rem;
  }

  .img {
    grid-row: initial;
  }
}