:root {
  font-size: 62.5%;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: #333;
  font-family: var(--type-first);
  font-size: 1.6rem;
  padding-top: 6.4rem;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  display: block;
  font-size: 1.6rem;
  font-family: var(--type-first);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.fadeInLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeInLeft .2s forwards;
}

.title {
  font-size: 3.2rem;
  line-height: 1;

}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}